@media screen and (max-width: 587px) {
  .nav-bar {
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    cursor: pointer;
  }

  .nav-bar div h2 {
    margin: 0;
    padding: 0;
  }

  .banner img {
    display: none;
  }

  .banner {
    margin: 0;
    margin-left: calc(50% - 30%);
    text-align: center;
    width: 100%;
  }

  .banner button {
    margin-left: calc(50% - 30%);
  }

  .e-commerce-container {
    flex-wrap: wrap;
    border: none;
    margin: 0;
  }

  .banner-text {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .all_product {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
  }

  .popular-products .headline {
    margin-top: 30px;
  }

  .join-now {
    margin: 10px 0 10px 0;
    flex-direction: column;
    text-align: center;
  }

  .join-now-section p {
    margin: 0;
  }

  .join-now img {
    width: 100%;
    height: auto;
    margin: 0;
  }

  .join-now button {
    margin: 20px 0 20px 100px;

  }
}